
    <div align="center">
        <a href="jobs#index" class="a_demo_four" >  Come on, don't be afraid  </a>
    </div>



<table align="center">

  <tr><br>
        <div class="col-sm-6 col-md-3 col-sm-offset-1">
           <div class="thumbnail">
         <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>

             <h2 align="center">地面机动部队</h2>
             <p><span class="glyphicon glyphicon-chevron-right">协助工程部队进行星球驻扎工作;</span>
             <br><span class="glyphicon glyphicon-chevron-right">清扫前进障碍、警戒、巡逻、安防设施布置;</span>
             <br><span class="glyphicon glyphicon-chevron-right">抵抗一切外界针对的军事行为;</span>
             <br><span class="glyphicon glyphicon-chevron-right">维护基地的生存安全;</p></span>
           </div>
        <div>
  </tr>
      <div class="col-sm-8 col-md-4 ">
         <div class="thumbnail">
           <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
           <h2 align="center">护卫舰队</h2>
           <p><span class="glyphicon glyphicon-chevron-right">护卫主舰进行空间跳跃;</span>
           <br><span class="glyphicon glyphicon-chevron-right">到达指定殖民行星，进行外空封锁警戒;</span>
           <br><span class="glyphicon glyphicon-chevron-right">在控制域内进行巡逻、守护、安全检查、报警监控;</span>
           <br><span class="glyphicon glyphicon-chevron-right">对基地内人员进行安全检查，维护公共秩序;</span>
         </div>
      <div>
<tr>
      <div class="col-sm-6 col-md-3">
         <div class="thumbnail">
           <%= image_tag 'pic-3.jpg', class: 'img-responsive img-rounded' %>
          <h2 align="center">工程部队</h2>
          <p><span class="glyphicon glyphicon-chevron-right">对新殖民星的开发进行准备工作;</span>
          <br><span class="glyphicon glyphicon-chevron-right">提交开发行星预案、报备、机械调度;</span>
          <br><span class="glyphicon glyphicon-chevron-right">建造实验室、研发基地以及各类生活必备据点;</span>
          <br><span class="glyphicon glyphicon-chevron-right">探索行星进行考古，解码殖民星文明工程技术;</span>
         </div>
      <div>

</tr>

</table>
