<div class="jumbotron">
     <h1 class="title"></h1>
     <p class="slogan">老百汇是中国古典技艺传承人的集合
     <br>
     我们希望藉由这个网站，能让更多古老技艺的传承人都有更明朗的未来。
     <br>
     <br>
     <br>
      让中国传统和古老传承不会消散。

     </p>
     <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
   </div>
   <section id="company">
     <div class = "container-fluid">
       <div class="row">
         <div class="col-sm-4 ">
           <div class="thumbnail">
             <img src="http://y.photo.qq.com/img?s=VfqbvmFVI&l=y.jpg" alt="search" class = "img-thumbnail">
             <div class="caption">
               <h4>西藏布达拉宫</h4>
             </div>
           </div>
         </div>
         <div class="col-sm-4 ">
           <div class="thumbnail">
             <img src="http://y.photo.qq.com/img?s=9yBkCQVj7&l=y.jpg" alt="bid" class = "img-thumbnail">
             <div class="caption">
               <h4>Bailohui@gmail.com</h4>
             </div>
           </div>
         </div>
         <div class="col-sm-4 ">
           <div class="thumbnail">
             <img src="http://y.photo.qq.com/img?s=bAQJ8dfF4&l=y.jpg" alt="heart" class = "img-thumbnail">
             <div class="caption">
               <h4>0891-6822896</h4>
             </div>
           </div>
         </div>
       </div>
     </div>
   </section>
