
/*body {margin:0 auto;overflow:hidden;}*/

/*=============第一页=============*/

.header canvas {
	width:100%;height:auto;/*默认全屏显示 可自己设置高度640px*/;
	display:inline-block;vertical-align:baseline
	position:absolute;
	z-index:1;
	}



.header .nav{
	width:804px;
	height:auto;
	position:absolute;
	z-index:30;
	top:420px;
	left: 50%;
	margin-left: -402px;
	}
.header .nav a.gv {
	width: 130px;
	height: 43px;
	display: block;
	text-align:center;		/*水平居中*/
	line-height:43px;  /*上下居中*/
	cursor:pointer;
	float:left;/*左浮动*/
	/*margin:8px 2px 8px 2px;*/
	/*font:18px/43px 'microsoft yahei'; color:#066197;*/
	}
/*.header .nav a.gv span {
	 display: none;

}*/


.header	.topcn{
	width: 980px;
	top:200px;
	left: 50%;
	margin-left: -490px;
	position:absolute;
	z-index:20;

	}
